.container {
	height: 200px;
	width: 200px;
	position: relative;
	-webkit-transform: perspective(1000px);
}

.cube-3d {
	height: 100%;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(-50px);
	-webkit-transition-duration: 3s;
	position: absolute;
}

.cube-3d:hover {
	-webkit-transform: translateZ(-50px) rotateX(45deg) rotateY(-120deg);
}

.box {
	position: absolute;
	height: 96px;
	width: 96px;
	display: block;
	background-color: blue;
	opacity: .5;
	border: 2px solid black;
	line-height: 100px;
	text-align: center;
}

.front {
	background-color: yellow;
	-webkit-transform: translateZ(50px);
}

.back {
	-webkit-transform: translateZ(-50px) rotateX(180deg);
}

.bottom {
	-webkit-transform: rotateX(-90deg) translateZ(50px);
}

.top {
	-webkit-transform: rotateX(90deg) translateZ(50px);
}

.left {
	-webkit-transform: rotateY(-90deg) translateZ(50px);
}

.right {
	-webkit-transform: rotateY(90deg) translateZ(50px);
}








